// colors

$color-1: #7620B7; // purple
$color-2: #DADFE1; // Gray
$color-3: #333; // body background color
$color-4: #50E3C2; // teal
$color-5: #92c195; // green

// fonts 

$primary-font: 'Open Sans', sans-serif;